.main {
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

html {

  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}
