.reload {
  color: #424242;
  font-size: 30px;
  float: right;
}
a {
  color: #424242;
  font-size: 30px
}

a:hover {
  font-family: 'Indie Flower', cursive;

}
.saveReality {
  font-size: 15px;
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;
}

.saveReality:hover {
  background-color: lightblue;
  font-size: 25px;
}
