.reload {
  font-family: 'Indie Flower', cursive;
  text-decoration: underline;
  float: right;
}



.saveReality {
  font-family: 'Indie Flower', cursive;
  text-decoration: underline;
  text-align: center;
  font-size: 50px;
  height: 137px;
}

.save {
  font-size: 30px;
}

.reload {
  font-family: 'Indie Flower', cursive;
  text-decoration: underline;
  float:left;
  text-align: center;
  font-size: 36px;
  height: 137px;
}
