.reload {
  color: #424242;
  font-size: 30px;
  float: right;
}
a {
  color: #424242;
  font-size: 30px
}

a:hover {
  font-family: 'Indie Flower', cursive;

}

/*.arrow{
  background-color: #BCBCBC !important;
}*/
