.reactform {
  font-family: 'Indie Flower', cursive;
  font-size: bolder;
  text-align: center;
  float: right;
  background-color: lightgrey;
}



.reality {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  border-style: double;
}

.realities {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 30px;
  height: 600px;
  border-style: double;
}


#reality {
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

.border {
  font-size: 20px;

}
