<h1 class="reality-checker">Reality-Checker!</h1>


<div class="category_header">
  <h2>Categories:</h2>
  <div class="categories small-9 columns small-centered large-10">
    <% @categories.each do |category| %>
      <p class='animated slideInLeft categories'><%= link_to category.title, category %></p>  
    <% end %>
  </div>
</div>
